/*element selector*/
/* div{
    background-color: yellowgreen;
} */
/* class selector */
/* .box {
    background-color: skyblue;
} */
/* id selector */
/* #intro{
    background-color: lightsalmon;
} */